/* modelo contenedor */

body {
    background:darkgrey;
}
.contenedor{
    width: 90%;
    margin: auto;
}
.cajauno{
   background:indianred;
   color: black;
   font-size: 25px;
   padding-left: 35px;
   padding-top: 30px;
   padding-right: 30px;
   padding-bottom: 10px;
   border-top:15px seagreen solid;
   border-right:20px blueviolet solid;
   border-bottom:10px orchid solid;
   border-left:16px green solid;

}
.cajados{
    background:crimson;
    color: black;
    font-size: 25px;
    padding-left: 35px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    border-top:15px blue solid;
    border-right:20px pink solid;
    border-bottom:10px blue solid;
    border-left:16px pink solid;
   
}